<!-- <div class="home-panel">
<div class="panel panel-default ">
    <div class="panel-heading">
        <h1 class="panel-title"><b>Introduction</b></h1>
    </div>
    <div class="panel-body homeHeight">
    <div class="carouselHeight">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h4>Slide {{$index}}</h4>
                    <p>{{slide.text}}</p>
                </div>
            </slide>
        </carousel>
    </div>
    </div>
</div>
</div> -->